header .active1 {
	background-color: #fff;
	color: #333;
}
header .active1:hover {
	background-color: #808080;
	color: #fff;
}

header .active2 {
	background-color: #808080;
	color: #fff;
}
header .active2:hover {
	background-color: #fff;
	color: #333;
}

.search-result {
	display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}
.form-search {
	width: 30%;
	display: flex;
	margin: 15px 0;
}
.form-search #searchBrand {
	margin: 0 10px;
}
.form-search #searchBrand:hover{
	background-color: #0000ff;
}
.form-search .rs:hover{
	background-color: #28a745;
}
